
.table-wrap {
    overflow-y: auto;	
    margin-left: 5%;
    margin-right: 5%;
    height: 60vh;
}

.table-user{
        border-collapse: collapse;
        width: 100%;
}
.table-title{
        position: sticky; 
        top: 0; 

}
.delete-btn {
    cursor: pointer;
}
.admin-title{
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    color: #2c3034;
    border-bottom: 1px solid #2c3034 ;
    padding-bottom: 15px;

}