.cart{
    padding: 5% 5% 5% 5%;
}

.total-price {
    border: 2px solid grey;
    margin: 60px;
    padding-top: 110px;
    
}

.total-price p {
    font-size: 30px;
    text-align: center;
}

.total-price Button {
    margin: 20px;
}

.cart-product {
    display: flex;
    border: 2px solid gray;
}

.cart-img {
    width: 300px;
}

.cart-product button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    padding: 0 0 0 100px;
}

.btn-delete{
    border: none;
    background-color: white;
}
