 .registro {
    background-color: rgb(41, 41, 41);
    margin: 10% 30% 10% 30%;
    
} 

.card {
  border: none;
}

.card-img{
  object-fit: cover;
  background-image: "./try-contacto.png";
}

.login-card {
  width: 60vw;
  height: auto;
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }

  .backColorForm{
    background-color: rgb(41, 41, 41);
  }

.form-control {
  
  background-color: transparent !important;
  border: 0px solid !important;
  border-radius: 0 !important;
  background-image: none !important;
  border-bottom-color: rgb(255, 255, 255) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  box-shadow: none !important;
  display: block !important;
  font-size: 15px !important;
  height: 45px !important;
  line-height: 1!important;
  padding: 5px 20px 20px 14px;
  width: 100%;
  color: white;
}

.form-label{
  color: white;
}