 .registro {
    margin: 10% auto;    
} 

.card {
  border: none;
}

.card-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-image: "./try-contacto.png";
}

.login-card {
  width: 50vw;
  
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }

  .backColorForm{
    padding: 15px 0;
    padding-left: 5%;
  }

  .reset-margin{
    padding: 0px;
  }

  .button-logIn{
    background-color: rgb(133, 133, 133);
    border-radius: 50px;
    padding: 10px 40px;
  }
