
.heroImg{
    height: 100vh;
    background-position-x: center;
    background-image: url(./tricycle_hero.jpg);
    overflow-x: hidden;
}
 
.heroImg h1{
    color: rgb(182, 182, 182);
     text-align: center; 
     text-transform: lowercase;  
     text-transform: capitalize;
     font-size: 5.5em;
}
.heroImg h4{
    color: rgb(182, 182, 182);
     text-align: center; 
     
    
}

.alingItems{
    height: 100vh;
    align-items: flex-end;
    
    

}

 .buttonHero{
     background-color:rgba(255, 255, 255, 0.24);
     margin-top: 20px;
    border-radius: 50px;
    padding: 15px 40px;
    border-color: rgba(182, 182, 182, 0);
}

.buttomHeroAling{
    justify-content: center;
}

.buyNow{
    
    border-top: rgba(255, 255, 255, 0.548) 0.5px solid;
   display: flex;
   padding: 20px 0px;
    background-color: rgb(94, 94, 94);
    transition: all .3s ease-in-out;
}

.buyNow:hover{

color: white;
background-color: rgba(34, 34, 34, 0.877);
cursor: pointer;
}

.buyButtomLink{
    padding-left: 50px;
    font-size: 1.6em;
    color: white;
    text-decoration: none;
    
}
.buyButtomLink:hover{
    color: white;
    text-decoration: none;
    
}
.arrow{
    padding-left: 20px;
    width: 60px;
}

.heroImg2{

    height: 100vh;
    background-size: 200%;
    background-position-x: center;
    background-image: url(./Tricycle4-rs.jpg);
    overflow-x: hidden;
}
 
.heroImg2 h1{
    color: rgb(124, 124, 124);
     text-align: center; 
     text-transform: lowercase;  
     text-transform: capitalize;
     font-size: 5.5em;
}
.heroImg2 h3{
    color: rgb(124, 124, 124);
     text-align: center; 
     
    
}

.buttonHero2{
     background-color:rgba(124, 124, 124, 0.671);
     margin-top: 20px;
    border-radius: 50px;
    padding: 15px 40px;
    border-color: rgba(182, 182, 182, 0);
}

.section3{
background-color: #e4e4e4;
height: 100vh;
width: 100vw;
padding: 0px;

}

.section3 h1{
 color: rgb(182, 182, 182);
     text-align: center; 
     text-transform: lowercase;  
     text-transform: capitalize;
     font-size: 5.5em;   
}

.section3 h3{
 color: rgb(124, 124, 124);
     text-align: center; 
    font-size: 1.1em;
}

.buttonSection3{
     background-color:rgb(167, 167, 167);
     margin-top: 20px;
    border-radius: 50px;
    padding: 15px 40px;
    border-color: rgba(182, 182, 182, 0);
    padding-left: 20px;
    padding-right: 20px;
}
.colRightSection3{
    justify-content: center;
    /* padding-left: 6%; */
    padding-right: 6%;
}

.colRightSection3 p{
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
}

.section3Img{
    
    align-items: center;
    height: 100vh;
    background-size: 140%;
    background-position-x: center;
    background-image: url(./Iron-3-blanca-perspective.png); 
    overflow-x: hidden;
    background-repeat: no-repeat;
    
}