.table-bikes {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.add-bike {
    margin-top: 20px;
}

.delete-btn {
    cursor: pointer;
}

.add-bike-btn{
    margin-left: 5%;
    padding: 10px;
    text-decoration: none;
}
.add-bike-btn:hover{
    color: #2c3034;
}

.admin-title{
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    color: #2c3034;
    border-bottom: 1px solid #2c3034 ;
    padding-bottom: 15px;
}
.logo{
    margin-bottom: 8px;
}