.table-bikes {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.add-bike {
    margin-top: 20px;
}

.delete-btn {
    cursor: pointer;
}

.add-bike-btn{
    margin-left: 5%;
    padding: 20px;
    text-decoration: none;
}