.contact{
    padding: 0 10% 0 10%;
    margin-bottom: 50px;
}

.map{
    background-color: brown;
    height: 400px;
    width: 624px;
    padding-top: 300px;
    padding-right: 10%;
}

.contact-title{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 50px;
}

.shop-list{
    list-style: none;
    text-align: end;
}

.shop-list li{
    margin-top: 20px;
}