.contact{
    padding: 12% 10% 10% 10%;
    background-color:#151515;
    justify-content: center;
}

.contact h1 {
  color: rgb(255, 255, 255);
  width: 100%;
  /* text-align: right;  */
  font-size: 4em;
  /* align-content: right; */
  border-bottom: 3px rgba(255, 255, 255, 0.856) solid;
  margin-bottom: 30px;
}

.contact h4 {
  color: rgb(255, 255, 255);
  /* text-align: right;  */
  font-size: 1.3em;
}

.contact p {
  color: #ea4335;
  /* text-align: right;  */
  font-size: 0.8em;
  /* border-bottom: 1px  rgba(255, 255, 255, 0.24) solid; */
  width: 60%;
  /* align-content: right; */
  padding-bottom: 10px; 
}

.map {
    padding: 10px;
    border-bottom: 0.2px rgba(255, 255, 255, 0.151) solid;
    border-right: 0.2px rgba(255, 255, 255, 0.151) solid;
}