.heroFounders{
  height: 100vh;
  background-color: rgb(26, 26, 26);
 /* background-size: cover;
  background-image: url("./FOTO\ CO\ FOUNDERS BN.jpg"); */
  overflow-x: hidden;
}
 
.heroFounders h1{
  color: rgb(255, 255, 255);
  text-align: center; 
  text-transform: lowercase;  
  text-transform: capitalize;
  font-size: 4em;
}
.heroFoundershH3{
      text-align: center;
      color: #ffffff;
}

.heroFounders h4{
  color: rgb(255, 255, 255);
  text-align: center;    
}

.alingItems{
  height: 100vh;
  align-items: center;
  margin-right: 0;
}

.buttonHero{
  background-color:rgba(255, 255, 255, 0.24);
  margin-top: 20px;
  border-radius: 50px;
  padding: 15px 40px;
  border-color: rgba(182, 182, 182, 0);
}

.buttomHeroAling{
  justify-content: center;
}

.buyNow{
  border-top: rgba(255, 255, 255, 0.548) 0.5px solid;
  display: flex;
  padding: 20px 0px;
  background-color: rgba(94, 94, 94, 0.637);
  transition: all .3s ease-in-out;
}
