.stock-table{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

}

.admin-title{
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    color: #2c3034;
    border-bottom: 1px solid #2c3034 ;
    padding-bottom: 15px;

}