.heroImgModel{
  height: 100vh;
  background-position-x: center;
  overflow-x: hidden;
}

.heroImgModel h1{
  color: rgb(255, 255, 255);
  text-align: center; 
  text-transform: lowercase;  
  text-transform: capitalize;
  font-size: 5.5em;
}

.heroImgModel h4{
  color: rgb(255, 255, 255);
  text-align: center;    
}

.bikeSection2{
    align-items: flex-start;
    width: 100%;
    /* height: 150vh; */
    
}
.bikeSection2 h2{
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 80px;
    font-size: 2.8vw;
    line-height: 36px;
}

.bikeSection2 img{
width: 100%;
height: 80vh;
object-fit: cover;
}

.bikeSection3 h2{
    color: white;
    margin-top: 80px;
    margin-left: 50px;   
    font-size: 1em;
}

.bikeSection3{

  align-items: flex-end;
  background-color: rgb(255, 255, 255);
  font-size: 2.8vw;
  height: 100vh;
  background-position-x: center;
  background-image: url(./tricycle_banner_general.png);
  overflow-x: hidden;
  object-fit: cover;
  filter:brightness(0.7);
}

.bikeSection4 {
  background-color: #f6f6f6;
  padding-top: 10vh;
  width: 100%;
}

.h1Size {
    margin-bottom: 60px;
 font-size: 8vw;
}

.marginSection4{
    margin-top: 50px;
    margin-left: 30px;
}

.hrCss{
    height: 2px;
    width: 100%;
}
.colPadding4{
    padding-left: 30px;
    padding-right: 30px;
}

.gradient{
  margin-top:10px;
  margin-bottom:10px;
  width:85%;
  height:1px;
  background-image:linear-gradient(to right, rgb(41, 41, 41), rgba(0,0,0,0));
}
.imgBikeSection4details {
 width: 100%;
 height: 70vh;
 object-fit: cover;
 padding-bottom: 50px;
 margin-top: 50px;
}

.fontSec4Bike{
    margin-top: 10vh;
    margin-left: 50px;
}
