
.heroImg{

    height: 100vh;
    background-size: 200%;
    background-position-x: center;
    overflow-x: hidden;
}
 
.heroImg h1{
    color: rgb(182, 182, 182);
     text-align: center; 
     text-transform: lowercase;  
     text-transform: capitalize;
     font-size: 5.5em;
}
.heroImg h3{
    color: rgb(182, 182, 182);
     text-align: center; 
     
    
}

.alingItems1{
    height: 100vh;
    align-items: center;
}

 .buttonHero{
     background-color:rgba(255, 255, 255, 0.24);
     margin-top: 20px;
    border-radius: 50px;
    padding: 15px 40px;
    border-color: rgba(182, 182, 182, 0);
}

.buttomHeroAling{
    justify-content: center;
}

.prueba{
align-items: center;
    height: 100vh;
    background-color: chocolate;
}

.buyNow{
    border-top: rgba(255, 255, 255, 0.295) 0.5px solid;
   display: flex;
   padding: 20px 0px;
    background-color: rgba(61, 61, 61, 0.048);
    transition: all .6s ease-in-out;
}

.buyNow:hover{
/* opacity: 1; */
background-color: rgba(34, 34, 34, 0.726);
cursor: pointer;
}