.heroImgModel{
  height: 100vh;
  background-position-x: center;
  overflow-x: hidden;
}

.heroImgModel h1{
  color: rgb(255, 255, 255);
  text-align: center; 
  text-transform: lowercase;  
  text-transform: capitalize;
  font-size: 5.5em;
}

.heroImgModel h4{
  color: rgb(255, 255, 255);
  text-align: center;    
}

.bikeSection2{
    align-items: flex-start;
    width: 100%;
    /* height: 150vh; */
    
}
.bikeSection2 h2{
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 80px;
    font-size: 2.8vw;
    line-height: 36px;
}

.bikeSection2 img{
width: 100%;
height: 80vh;
object-fit: cover;
}

.bikeSection3 h2{
    color: white;
    margin-top: 80px;
    margin-left: 50px;   
    font-size: 1em;
}

.bikeSection3{

  align-items: flex-end;
  background-color: rgb(255, 255, 255);
  font-size: 2.8vw;
  height: 100vh;
  background-position-x: center;
  background-image: url(./tricycle_banner_general.png);
  overflow-x: hidden;
  object-fit: cover;
  filter:brightness(0.6);
}

.bikeSection4 {
  background-color: #f6f6f6;
  padding-top: 10vh;
  width: 100%;
}

.h1Size {
    margin-bottom: 60px;
 font-size: 8vw;
}

.marginSection4{
    margin-top: 50px;
    margin-left: 30px;
}

.hrCss{
    height: 2px;
    width: 100%;
}
.colPadding4{
    padding-left: 30px;
    padding-right: 30px;
}

.gradient{
  margin-top:10px;
  margin-bottom:10px;
  width:85%;
  height:1px;
  background-image:linear-gradient(to right, rgb(41, 41, 41), rgba(0,0,0,0));
}
.imgBikeSection4details {
 width: 100%;
 height: 70vh;
 object-fit: cover;
 padding-bottom: 50px;
 margin-top: 50px;
}

.fontSec4Bike{
    margin-top: 10vh;
    margin-left: 50px;
}

.sectionSecurity{
background-color: #1e1e1e;
}

.sectionSecurity h1{
  padding-top: 50px;
  padding-left: 50px;
  color: rgb(255, 255, 255);
  text-align: left; 
  font-size: 8vw;
}
.colPadding4 p {
  color: #1e1e1e;
}

.securityColums h4 {
  margin-top: 80px;
}

.securityColums hr{
  width: 100%;
}
.securityColums h4 {
  color: white;
}
.securityColums p {
  color: white;
}
.oculto {
  display:none;
}

div.linkopacity {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
}
 
div.linkopacity:hover {
	filter:alpha(opacity=100);  
	-moz-opacity: 1.0;  
	opacity: 1.0;
	-khtml-opacity: 1.0; 
}

.detailsColum img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 100px;
}

.detailsColum h4 {
 margin-top: 10px;
}

div.linkopacityDetails {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-khtml-opacity: 0.5;
}
 
div.linkopacityDetails:hover {
	filter:alpha(opacity=100);  
	-moz-opacity: 1.0;  
	opacity: 1.0;
	-khtml-opacity: 1.0; 
}

div.linkopacityDetails img {
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-khtml-opacity: 0;
  transition: 600ms
}
 
div.linkopacityDetails:hover img  {
	filter:alpha(opacity=100);  
	-moz-opacity: 1.0;  
	opacity: 1.0;
	-khtml-opacity: 1.0; 
  transition: 600ms
  
}

.linkopacityDetails img {
  pointer-events: none;
  transform: translateY(20px);
  transform-origin: 50% bottom;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.linkopacityDetails:hover img {

  transform: translateY(0);
}

.accordionCss {
  background-color: #1e1e1e;
  padding-top: 80px;
  padding-bottom: 80px;

}

.accordionCss h4{
    font-size: 2.8vw;
    line-height: 36px;
}

.input-acordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: flex;
}
.row .col {
  -webkit-box-flex: 1;
          flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #ffffff;
  background-color: #1e1e1e;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #00030700;
  cursor: pointer;
}
.tab-close:hover {
  background-color: #1e1e1e;
}

input:checked + .tab-label {
  background-color: #1e1e1e;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.accordionCss hr{
  width: 100%;
}

.colorBackAccordion{
background-color: #1e1e1e;
}

.continueBtn img{
object-fit: cover;
background: #515151;
background: -webkit-radial-gradient(center, #515151, #181818);
background: -moz-radial-gradient(center, #515151, #181818);
background: radial-gradient(ellipse at center, #515151, #181818);
}

.colorBikesChange {
  align-content: center;
  background-color: rgb(211, 211, 211); 
}

.colorBikesChange img{
  width: auto;
  height: 40%;
  margin-left: auto; 
  margin-right:auto;
}

.colorBikesChange h1{
  padding-top: 50px;
  color: #1e1e1e;
  text-align: center; 
  font-size: 5.5em;
}

.boton1{
  width:30px;
  height:30px;
  background-color:#000000;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton1:hover{
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha (opacity=50);
}

.boton2{
  width:30px;
  height:30px;
  background-color: rgb(156, 156, 156);
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton2:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton2 a{
  color:rgb(156, 156, 156);
  text-decoration:none;
  padding:5px 5px 5px 0;
}

.boton3{
  width:30px;
  height:30px;
  background-color: #48544c;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton3:hover{
  opacity: 0.70;
  -moz-opacity: 0.70;
  filter:alpha (opacity=70);
}
.boton3 a{
  color:#48544c;
  text-decoration:none;
  padding:5px 5px 5px 0;
}

.backBoton{
  background-color: rgb(228, 228, 228);
  padding: 20px, 10px;
  border-radius: 30px;
  justify-content: space-around;
  display:inline-block;
  text-align:center;
}